.bloc-form {
  padding: 0 30px 0 30px;
}
.bloc-champ {
  display: flex;
  justify-content: space-between;
}

// input,
.btn-dialog {
  margin-bottom: 25px;
  border-radius: 1rem;
  width: 90px;
  height: 30px;
}

.btn-valider {
  background-color: #8FAD88;
}
.btn-valider:focus, .btn-valider:hover {
  background-color: #FFDAB9;
}

.btn-annuler {
  background-color: #78909C;
}

.champ-form {
  margin-bottom: 5px;
}

.champ-margin {
  margin-bottom: 0;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.bloc-radio {
  display: flex;
  justify-content: space-between;
}
.button-group {
  display: flex;
  justify-content: space-around;
}

.toggle-switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: 10px 0 10px 0px;
}

.msg-error {
  font-size: 10px;
  color: #CA2128;
}

.champ-error {
  border: 2px solid red;
}

.title-form {
  margin-bottom: 20px;
  font-size: 1.1rem;
}