.bloc-principal {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

app-content-exercice1 {
    display: flex;
    flex: 1;
}
.header-whith-menu {
    display: none;
}
@media screen and (max-width:768px) {
    .header-whithout-menu {
        display: inline;
    }
    .header-whith-menu {
        display: block;
    }
}