.bloc-principal {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

app-content-exercice3 , app-test-panel {
    display: flex;
    flex: 1;
}