<div class="bloc-principal">

    <div class="bloc-content">
        <div class="breadcrumb">
            <div><a routerLink="/home">Home</a></div>
            <div><a routerLink="/exercice2" class="current-page">&nbsp; Exercice 2</a></div>
        </div>

        <h1 class="titre1">Exercice 2</h1>

        <h4 class="titre">Les chiffres</h4>
        <span class="size-text">Voici un tableau contenant des informations de la plus haute importance. </span>
        <div class="bloc-chiffres">
            <div class="bloc-tableau">
                <table>
                    <tr>
                        <td colspan="12" class="center-content title">Année 1</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="center-content">Trimestre 1</td>
                        <td colspan="3" class="center-content">Trimestre 2</td>
                        <td colspan="3" class="center-content">Trimestre 3</td>
                        <td colspan="3" class="center-content">Trimestre 4</td>
                    </tr>
                    <tr>
                        <td class="style-case">Mois 1</td>
                        <td class="style-case">Mois 2</td>
                        <td class="style-case">Mois 3</td>
                        <td class="style-case">Mois 1</td>
                        <td class="style-case">Mois 2</td>
                        <td class="style-case">Mois 3</td>
                        <td class="style-case">Mois 1</td>
                        <td class="style-case">Mois 2</td>
                        <td class="style-case">Mois 3</td>
                        <td class="style-case">Mois 1</td>
                        <td class="style-case">Mois 2</td>
                        <td class="style-case">Mois 3</td>
                    </tr>
                    <tr class="plus-line">
                        <td class="line-green"><button>+</button></td>
                        <td class="line-red"><button>+</button></td>
                        <td class="line-red"><button>+</button></td>
                        <td class="line-red"><button>+</button></td>
                        <td class="line-green"><button>+</button></td>
                        <td class="line-green"><button>+</button></td>
                        <td class="line-red"><button>+</button></td>
                        <td class="line-green"><button>+</button></td>
                        <td class="line-green"><button>+</button></td>
                        <td class="line-green"><button>+</button></td>
                        <td class="line-red"><button>+</button></td>
                        <td class="line-red"><button>+</button></td>
                    </tr>
                    <tr>
                        <td colspan="12" class="center-content">TOTAL</td>
                    </tr>
                </table>
            </div>

            <div class="bloc-video">
                <iframe width="420" height="236" src="https://www.youtube.com/embed/phOf0JZyKsA?si=wh13kdv542C3jgI9"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>

        </div>

        <h4 class="titre">Au gouvernement </h4>
        <div class="bloc-gouvernement">
            <div>
                la DINUM : c’est le service de la première ministre, placé sous l’autorité du ministre de la
                transformation et de la fonction publiques, la direction interministérielle du numérique (DINUM) a pour
                mission d’élaborer la stratégie numérique de l’État et de piloter sa mise en œuvre. Notre objectif : un
                État plus efficace, plus simple et plus souverain grâce au numérique.
                <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite-numerique/">En savoir
                    plus</a><span class="fleche"> →</span>
            </div>
            <div class="text">
                Le CCNUM : c’est le Conseil National du Numérique, une commission consultative française créée le 29
                avril 2011 par décret du président de la République. Il est chargé des questions relatives au numérique
                sous la tutelle du ministre délégué qui nomme ses membres par décret pour deux ans.
                <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite-numerique/">En savoir
                    plus</a><span class="fleche"> →</span>
            </div>
            <div class="bloc-reseaux">
                <p>PARTAGER :</p>
                <div class="reseaux-sociaux">
                    <button href="" title="Sur Twitter">
                        <img src="./assets/images/twitter.svg" alt="">
                    </button>
                    <button href="" title="Sur Facebook">
                        <img src="./assets/images/facebook.svg" alt="Facebook">
                    </button>
                    <button href="" title="Sur Pinterest">
                        <img src="./assets/images/pinterest.svg" alt="Pinterest">
                    </button>
                    <button href="" title="Par mail">
                        <img src="./assets/images/paper-plane.svg" alt="">
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="bloc-menu">
        <app-menu2></app-menu2>
    </div>

</div>