<div class="bloc-principal">
    <div class="bloc-menu">
        <app-menu2></app-menu2>
    </div>

    <div class="bloc-content">

        <div class="breadcrumb">
            <div><a routerLink="/home">Home ></a></div>
            <div><a routerLink="/exercice1" class="current-page"> &nbsp; Exercice 1</a></div>

        </div>

        <h1 class="titre1">Exercice 1</h1>

        <h3 class="titre">Thématiques du RGAA </h3>

        <div class="bloc-list-thematique">
            <div>
                <p><span class="point">●</span> Images</p>
                <p><span class="point">●</span> cadres</p>
                <p><span class="point">●</span> Couleurs</p>
                <p><span class="point">●</span> Multimédias</p>
                <p><span class="point">●</span> Tableaux</p>
            </div>

            <div>
                <p><span class="point">●</span> Liens</p>
                <p><span class="point">●</span> Scripts</p>
                <p><span class="point">●</span> Eléménents obligatoires</p>
                <p><span class="point">●</span> Structuration de l'information</p>
                <p><span class="point">●</span> Présentation de l'information</p>
            </div>
            <div>
                <p><span class="point">●</span> Formulaires</p>
                <p><span class="point">●</span> Navigation</p>
                <p><span class="point">●</span> Consultation</p>
            </div>

        </div>

        <h2 class="titre">Informations </h2>
        <div class="bloc-information">
            <div>
                <h4 class="citation">
                    “The power of the Web is in its universality. Access by everyone regardless of disability is an
                    essential
                    aspect.”
                </h4>
                <span class="position">
                    __TIM BERNERS-LEE
                </span>
            </div>

            <img src="/assets/images/jean.png" alt="photo de Timothy Berners-Lee " class="img">
        </div>

        <div class="bloc-fin">
            <img src="/assets/images/img.png" alt="chiffres sur l’accessibilité des sites de bibliothèques"
                class="img-acc">
            <p>
                Les chiffres ci-contre sont issus du rapport sur l’accessibilité numérique en lecture publique
                disponible sur le site du ministère de la culture. Ils font état de la mise en place de l’accessibilité
                sur les sites et portails des bibliothèques.
            </p>
        </div>
    </div>
</div>