.backdrop {
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    width: 600px;
    // height: 400px;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width:768px) {
    .dialog {
        width: 400px;
    }
}