<div class="foot">
    <div class="direction">
        <div>
            <a routerLink="/home" class="lien">
                Aide
            </a>
        </div>
        <div>
            <a routerLink="/exercice1" class="lien">
                Mentions légales
            </a>
        </div>
        <div>
            <a routerLink="/exercice2" class="lien">
                Accessibilité
            </a>
        </div>
        <div>
            <a routerLink="/exercice3" class="lien">
                Contact
            </a>
        </div>
        <div>
            <a href="https://www.accenture.com/fr-fr" class="lien">
                <img src="/assets/images/logo.png" alt="logo-image" class="image-transparent" />
            </a>
        </div>
    </div>
    <p>
        Ce site est dédié à la formation “Développer de manière accessible” pour Accenture France - 2024.
    </p>
</div>