.style-body {
    background-color: white;
    color: black;
    margin: 50px;
}

h1 {
    font-family: 'Yeseva One';
    font-size: 3em;
}

@media screen and (max-width:768px) {
    .style-body {
        margin: 30px;
    }
}
