<div class="style-body">
    <h1>S'exercer à détecter des erreurs d'accessibilité</h1>
    <h4>Avec Accenture & la formation Développer Accessible</h4>

    <div>
        pour chaque exercice, rendez-vous à la page correspondante à l’aide du menu situé dans l’en-tête. Chaque
        exercice est prévu pour reprendre les thématiques évoquées jusqu’à présent.
    </div>
    <p>
        Il vous est demandé de relever les différentes erreurs d’accessibilité que vous pouvez trouver dans chaque
        page.
    </p>
    <div>
        Vous pouvez, bien sûr, vous servir des outils d’audit automatique que nous avons abordés. Cependant, il vous
        est fortement recommandé d’analyser la page et le code vous-même afin de vous familiariser avec les
        thématiques d’accessibilité.
    </div>
    <h3></h3>
    <div>
        Nous passerons dans chaque groupe afin de voir comment se déroule l’exercice, mais n’hésitez pas à faire
        appel à nous en cas de difficulté.
    </div>
</div>