.style-btn-accordion {
    background-color: transparent;
    border: transparent;
    margin-bottom:10px ;
}

p {
    font-weight: bold;
}

.contenu-accordion {
    margin-bottom: 10px;
}

.bloc-btn-accordion {
    display: flex;
}