<div class="head">
    <div class="part1">
        <ul class="menu">
            <li class="spacing">
                <a routerLink="/home" class="lien">
                    a11y.
                </a>
            </li>
        </ul>
    </div>

    <div class="part2">
        <app-menu2 class="menu2"></app-menu2>
        <app-barre-recherche></app-barre-recherche>


        <button type="submit" class="btn cnx">
            <mat-icon aria-label="log in" aria-hidden="false">account_circle</mat-icon>
            Connexion
        </button>
    </div>

</div>